body {
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: min(80vmin, 800px);
    border: 5px solid blue;
}

.cell {
    aspect-ratio: 1;
    flex: 0 0 calc(100% / var(--side-length));
}

.cell.shaded {
    background-color: black;
}